body {
    margin: 0;
    background: #1e1e1e;
    overflow: hidden;
}

canvas {
    border-bottom: 2px solid black;
}

#gl-debug {
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px 8px;
    color: white;
}
